:root {
    --espresso: #2b1d16;
    --coffee: #4b2e2a;
    --latte: #d7b899;
    --cream: #f5f1e8;
    --foam: #ffffff;
}






body{
    font-family:"Playfair Display", serif;
   
     background-color: var(--latte);
    color: var(--espresso);
  





}
button{
    cursor: pointer;
    border: none;
      background-color: var(--coffee);
      color: var(--foam);
      border-radius: 5px;
      padding: 10px 30px;
      
}
button:hover{
    background-color: aqua;
}





.header {
    background-color:var(--espresso);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--cream);
    padding: 20px 50px;

}

.headerright {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    
    
    
}
.headerleft{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    font-size: 20px;
    font-weight: 1000;
}
a {
    color: white; 
    text-decoration: none;
}

.content1 {
    background-color: var(--latte);
    padding: 20px;
    display: flex;
    justify-content: space-evenly
}
.content1 img{
    width: 100%;
    max-height: 300px;
    max-width:  300px;
    
    
    
}

.leftcontent1 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    max-width: 350px;
    

}

.rightcontent1 {
    border-radius: 12px;


}

img {
    border-radius: 10px;
}

.content2 {
    background-color: var(--cream);
    padding: 20px;
}

.title2 {
    text-align: center;
}

.imgboxes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;


}

.imgbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    
    
   

}
.imgbox img{

max-height: 200px;  
width: 100%;
max-width: 300px;







}
.imgbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    transform: translateY(-5px);
}

.content3{
    display: flex;
    background-color: wheat;
    flex-direction: column;
}
.comment{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    text-align: center;
    flex-direction: column;
    align-self: center;
    min-width: 50%;
    font-size: 20px;
   
}
.commenter{
    display: flex;
    justify-content: flex-end;
    align-self: center ;
    margin-left: 40%;
}
.content4{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--espresso);
    margin: 30PX;
    border-radius: 20px;
    color: var(--cream);

}
.content4left{
   

}
.content4right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    align-self: center;
    
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--coffee);
    color: var(--foam);
    border-radius: 5px;
    

}

